@model List<AllianceDto>

@{
    ViewData["Title"] = "Alliances";
}

<link href="~/css/table.css" rel="stylesheet" />

@Html.AntiForgeryToken()

<button type="button" class="btn btn-primary mb-2 createAllianceBtn">
    Create New
</button>

<div class="table-container">
    <div class="table-responsive">
        <table class="custom-table align-middle">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Perks</th>
                    <th>Description</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>

            <tbody>
                @if (Model?.Any() == true)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Logo))
                                {
                                    <img src="@item.Logo"
                                         style="width:45px;height:45px;object-fit:cover;border-radius:10px;" />
                                }
                            </td>

                            <td class="fw-bold">@item.Name</td>
                            <td>@item.AllianceTypeId</td>
                            <td>@string.Join(", ", item.PerkIds)</td>
                            <td class="text-muted-custom">@item.Description</td>

                            <td class="text-end">
                                <div class="action-buttons">

                                    <button type="button"
                                            class="btn-action btn-edit editAllianceBtn"
                                            data-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>

                                    <button type="button"
                                            class="btn-action btn-deactivate deleteAllianceBtn"
                                            data-id="@item.Id">
                                        <i class="bi bi-trash"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="empty-state">
                            No alliances found in the records.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="allianceModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="max-width: max-content;">
        <div class="modal-content" id="allianceModalContent"
             style="width: max-content; overflow: hidden; border: none; background: transparent;">
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>

    $(document).on('click', '.editAllianceBtn', function () {

        var id = $(this).data('id');

        $.get('/Alliance/Edit', { id: id }, function (data) {

            $('#allianceModalContent').html(data);

            var modal = new bootstrap.Modal(document.getElementById('allianceModal'));
            modal.show();

        });

    });

    $(document).on('click', '.createAllianceBtn', function () {

        $.get('/Alliance/Create', function (data) {

            $('#allianceModalContent').html(data);

            var modal = new bootstrap.Modal(document.getElementById('allianceModal'));
            modal.show();

        });

    });

    $(document).on('click', '.deleteAllianceBtn', function () {

        var button = $(this);
        var id = button.data('id');


        showDeleteModal({
                message: "Are you sure you want to delete this alliance?"
            }).then((confirmed) => {

                if(!confirmed) return;

                $.ajax({
                    url: '/Alliance/Delete',
                    type: 'POST',
                    data: {
                        id: id,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (res) {

                        if (res.success) {

                            Toast.success(res.message, "success");

                            button.closest('tr').fadeOut(300, function () {
                                $(this).remove();
                            });

                        } else {
                            Toast.error("Something went wrong");
                        }

                    },
                    error: function () {
                        Toast.error("Server error occurred");
                }
            });
            })

    });

</script>